* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid var(--black);*/
}

body {
    background-color: rgb(66, 95, 164);
}

#map {
    width: 90%; height: 600px;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

#logo4Small {
    width: 150px;
}

#logo4Big {
    width: 175px;
}

#ribbonBig {
    background-color: rgb(4, 1, 40);
    height: 45px;
}

#ribbonSmall {
    background-color: rgb(4, 1, 40);
    height: 45px;
}

h4 {
    color: rgb(219, 147, 45);
}

#geocoder > div{
    display: inline-flex;
}


#geocodeWrapper {
    padding: 50px 0px 20px 0px;
    display: flex;
    justify-content: center;
}

#map > div.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate > canvas {
    padding-bottom: 20px;
}

footer div {
    color: rgb(219, 147, 45);
    font-size: 20px;
}

#largeFooter {
    /*height: 60px;*/
    background-color: rgb(4, 1, 40);
}
#largeFooter > a {
    text-decoration: none;
    color: rgb(219, 147, 45);
    font-size: 20px;
}
#smallFooter {
    background-color: rgb(4, 1, 40);
}
#smallFooter > a {
    text-decoration: none;
    color: rgb(219, 147, 45);
    font-size: 14px;
}

#smallLogoText {
    font-size: 24px;
}

#ribbonSmall > div > a {
    color: rgb(219, 147, 45);
    font-size: 40px;
    font-family: 'Marck Script', cursive;
}
#ribbonBig {
    color: rgb(219, 147, 45);
    font-size: 64px;
    font-family: 'Marck Script', cursive;
}





